# Applied Machine Learning to Titanic

This Notebool alaysis the dataset.

In [2]:
print('heelo')

heelo

$E=mc^2$